.Dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 2rem 0 2.5rem 0;
    .blogs{ 
        width: 65%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 3rem;
    }
}

@media screen and (max-width: 1600px) {
    .Dashboard{
        .blogs{
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media screen and (max-width: 1030px) {
    .Dashboard{
        .blogs{
            grid-template-columns: 1fr;
        }
    }
}
@media screen and (max-width: 720px) {
    .Dashboard{
        .blogs{
            grid-template-columns: 1fr;
            width: 95%;
        }
    }
}