.pfcontainer { 
    display: flex; 
    justify-content: center; 
    margin-top: 3rem;
    .Profile{
        width: 65%; 
        .lpgrid, .mpgrid{
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            margin-bottom: 5rem;
            gap: 3rem;
        } 
        hr{
            margin-bottom: 3rem;
        }
    }
    .plea{
        border-radius: 2rem;
        background-color: black;
        padding: 1.4rem 2rem 2rem 2rem;
        outline: 8px ridge rgba(170, 50, 220, .6);
    }
}
@media screen and (max-width: 1560px) {
    .pfcontainer{
        .Profile{ 
            .mpgrid,.lpgrid{
                grid-template-columns: 1fr 1fr; 
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .pfcontainer{
        .Profile{ 
            width: 95%;
            .mpgrid,.lpgrid{
                grid-template-columns: 1fr; 
            }
        }
    }
}
@media screen and (max-width: 499) {
    .pfcontainer{
        .Profile{ 
            width: 100%;
            .mpgrid,.lpgrid{
                grid-template-columns: 1fr; 
            }
        }
    }
}